theme = "catppuccin_mocha_custom"

#==================================================================================
[editor]
true-color = true
mouse = true
auto-completion = true
bufferline = "always"
line-number = "relative"
rulers = [120]
auto-format = true
auto-save=true
default-yank-register = "+"
auto-info = true
scroll-lines = 20
end-of-line-diagnostics = "disable"
# gutters = ["diff", "diagnostics", "line-numbers", "spacer"]
# font = "Fira Code"
#==========================================
[editor.whitespace]
trim-trailing-whitespace = true
#==========================================
[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"
#==========================================
[editor.indent-guides]
# Affiche les guides d'indentation
render = true
# character = "|"
# character = "┊"
# skip-levels = 1
rainbow-indent = "dim"
#==========================================
[editor.file-picker]
hidden = false #show hidden files
#==========================================
[editor.gutters]
# Configure les gutters (marges gauches)
layout = ["diagnostics", "spacer", "line-numbers", "spacer", "diff"]
#==========================================
[editor.inline-diagnostics]
# Active les diagnostics inline (nouveauté)
cursor-line = "hint"    # Montre warnings/errors sur la ligne du curseur
other-lines = "disable"    # Désactive sur les autres lignes
prefix-len = 1
max-wrap = 20
max-diagnostics = 10
#==========================================
[editor.lsp]
# Active le LSP
enable = true
display-messages = true
display-inlay-hints = true
auto-signature-help = true
#==========================================
[editor.statusline]
left = ["mode", "spinner"]
center = ["file-name"]
right = ["diagnostics", "selections", "position", "file-encoding", "file-line-ending", "file-type"]
#==================================================================================
[keys.insert]
C-s = [":write", "normal_mode"]
# Déplace le curseur au début du mot précédent
A-left = "move_prev_word_start"
# Déplace le curseur au début du mot suivant
A-right = "move_next_word_start"
# Bonus : Naviguer d'une ligne à l'autre
A-j = "move_line_down"
A-k = "move_line_up"
A-l = "move_next_word_start"
A-h = "move_prev_word_start"
#==========================================
[keys.normal]
A-f = ":format"
C-r = ":rl"
C-s = ":w"
0 = "goto_line_end"
9 = "goto_line_start"
H = "move_prev_long_word_start"
L = "move_next_long_word_end"
# Se déplacer verticalement par 5 lignes
K = ["move_line_up", "move_line_up", "move_line_up", "move_line_up", "move_line_up"]
J = ["move_line_down", "move_line_down", "move_line_down", "move_line_down", "move_line_down"]

#==========================================
[keys.normal."+"]
c = ":sh cargo check"
t = ":sh cargo test"
b = ":sh cargo build"
#==========================================
[keys.normal.space]
# La touche 'a' après 'space' exécutera la commande
x = ":run-shell-command cargo clippy --fix --allow-dirty"

#==========================================
[keys.select]
esc = ["collapse_selection", "keep_primary_selection", "normal_mode"]

